<!DOCTYPE html><html lang="en"><head><base target="_top"><meta charset="utf-8"/><title>Specialty consensus guidelines</title><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"><style>#sidebar{width:200px}#content{margin-left:200px}th.name{width:30%}th.modality{width:10%}th.triage{width:10%}th.priority{width:10%}dt{font-weight:700}dt::after{content:":"}</style></head><body>
{{~> sidebar ~}}
{{~> content ~}}
<script>function w3_open(){document.getElementById("sidebar").style.display="block";}function w3_close(){document.getElementById("sidebar").style.display="none";}</script></body></html>